.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
    font-weight: bold;
}

.footer a {
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}